element.style {
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #333;
    color: #454545;
    margin: 0 8px 24px 8px;
    padding: 0px;
    padding-bottom: 0px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
}
body {
    display: block;
    margin: 8px;
}

#main-content {
    margin-left: auto;
    margin-right: auto;
    width: 820px;
    background: #fff;
    padding: 25px;
    margin-bottom: -25px;
}
div {
    display: block;
}
element.style {
    width: 50%;
    float: left;
    margin-left: 5px;
    margin-top: 40px;
}

h1 {
    font-family: "DejaVu Sans", Arial, Helvetica , sans-serif;
    font-size: 27px;
    color: #000;
    line-height: 32px;
    letter-spacing: 0em;
    padding-top: 29px;
    padding-bottom: 6px;
    text-transform: uppercase; 
	} 
#main-navigation {
    background-color: #007aab;
	    float: left
}  
.navigation-bar {
    width: 100%;
   
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: bold;

}
div {
    display: block;
}
ul.topnav {
    
    position: relative;
    padding: 0;
    z-index: 3000;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
#main-navigation .dropdown.inpath, #main-navigation .dropdown.current {
    border-color: #fff;
    background-color: #000;
}

#main-navigation .dropdown {
    top: 0;
    height: 23px;
    margin-right: 0;
    padding: 4px 8px 0 8px;
    background: none;
}

#main-navigation li {
    border: none;
    border-left: 1px solid #007aab;
    border-right: 1px solid #007aab;
}

ul.topnav li {
    list-style-type: none;
    position: relative;
    display: inline;
    float: left;
}
#main-navigation .dropdown a {
    padding: 0;
    color: #fff;
}
#main-navigation a {
    color: #fff;
    display: block;
    padding: 4px 8px 2px 8px;
    background: none;
}
style.css:620
.dropdown a {
    color: #000;
    background: none;
    font-weight: bold;
}

style.css:52
a {
    text-decoration: none;
    color: #007aab;
    background: url(../img/underline.gif) repeat-x 0 14px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
ul.topnav li {
    list-style-type: none;
    position: relative;
    display: inline;
    float: left;
}
element.style {
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: #333;
    color: #454545;
    margin: 0 8px 24px 8px;
    padding: 0px;
    padding-bottom: 0px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
}
body {
    display: block;
    margin: 8px;
}

#main-content {
    margin-left: auto;
    margin-right: auto;
    width: 820px;
    background: #fff;
    padding: 25px;
    margin-bottom: -25px;
}
div {
    display: block;
}
element.style {
    width: 50%;
    float: left;
    margin-left: 5px;
    margin-top: 40px;
}

h1 {
    font-family: "DejaVu Sans", Arial, Helvetica , sans-serif;
    font-size: 27px;
    color: #000;
    line-height: 32px;
    letter-spacing: 0em;
    padding-top: 29px;
    padding-bottom: 6px;
    text-transform: uppercase; 
	} 
#main-navigation {
    background-color: #007aab;
	    float: left
}  
.navigation-bar {
    width: 100%;
   
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: bold;

}
div {
    display: block;
}
ul.topnav {
    
    position: relative;
    padding: 0;
    z-index: 3000;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
#main-navigation .dropdown.inpath, #main-navigation .dropdown.current {
  
    background-color: #007aab;
}

#main-navigation .dropdown {
    top: 0;
    height: 23px;
    margin-right: 0;
    padding: 4px 8px 0px 8px;
    background: none;
}

#main-navigation li {
    border: none;
    border-left: 1px solid #007aab;
    border-right: 1px solid #007aab;
}

ul.topnav li {
    list-style-type: none;
    position: relative;
    display: inline;
    float: left;
}
#main-navigation .dropdown a {
    padding: 0;
    color: #fff;
}
#main-navigation a {
    color: #fff;
    display: block;
    padding: 4px 8px 2px 8px;
    background: none;
}
style.css:620
.dropdown a {
    color: #000;
    background: none;
    font-weight: bold;
}

style.css:52
a {
    text-decoration: none;
    color: #007aab;
    background: url(../img/underline.gif) repeat-x 0 14px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
ul.topnav li {
    list-style-type: none;
    position: relative;
    display: inline;
    float: left;
}

